<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>Superior Creativity</title>
</head>
<body>
    <style>
        .swiper-container {
    width: 600px;
    height: 100px;
    padding-bottom: 1rem;
}
    </style>
    <div class="nav fixed">
        <div class="placeholder">

        </div>
        <div class="nav-container">
            <div class="logo">
                {{!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 49" width='18%' class='logo'>
  <defs>
    <style>
      .a {
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: 1.4px;
      }

      .b {
        fill: #fff;
      }
    </style>
  </defs>
  <title>logo-nav-small</title>
  <g>
    <circle class="a" cx="23.3" cy="23.3" r="22.84"/>
    <path class="b" d="M1907.53,505.1a1.1,1.1,0,0,1,.77.23,0.79,0.79,0,0,1,.26.61,0.84,0.84,0,0,1-.2.57,0.67,0.67,0,0,1-.53.23,0.72,0.72,0,0,1-.26-0.06,0.4,0.4,0,0,1-.21-0.17,1.33,1.33,0,0,0-.32.64,4,4,0,0,0-.08.8,2.37,2.37,0,0,0,.28,1.11,2.8,2.8,0,0,0,.8.93,4.25,4.25,0,0,0,1.25.64,5.11,5.11,0,0,0,1.62.24,4.54,4.54,0,0,0,2.55-.69,5.42,5.42,0,0,0,1.69-1.77,8,8,0,0,0,.93-2.39,12.88,12.88,0,0,0,.31-2.53,16.56,16.56,0,0,1,.39-3.55,8.93,8.93,0,0,1,1-2.68,4.94,4.94,0,0,1,1.69-1.7,4.46,4.46,0,0,1,2.32-.6,3,3,0,0,1,1.91.57,1.78,1.78,0,0,1,.73,1.48,1.22,1.22,0,0,1-.5,1.07,2,2,0,0,1-1.19.36,3.4,3.4,0,0,0,.37-0.73,2.77,2.77,0,0,0,.12-0.89,1.46,1.46,0,0,0-.47-1.19,1.68,1.68,0,0,0-1.11-.39,3,3,0,0,0-1.48.34,3.14,3.14,0,0,0-1,.94,5.11,5.11,0,0,0-.68,1.4,12.62,12.62,0,0,0-.41,1.7q-0.16.9-.23,1.85t-0.14,1.89a11.47,11.47,0,0,1-.81,3.79,7.08,7.08,0,0,1-1.61,2.39,5.39,5.39,0,0,1-2.13,1.24,8.34,8.34,0,0,1-2.42.36,5,5,0,0,1-1.83-.32,4.33,4.33,0,0,1-1.43-.89,3.85,3.85,0,0,1-.92-1.34,4.43,4.43,0,0,1-.32-1.71,2.21,2.21,0,0,1,.36-1.29A1.09,1.09,0,0,1,1907.53,505.1Z" transform="translate(-1892.05 -479.78)"/>
  </g>
</svg> --}}
<svg class='logo' width='18%'data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123 123">
  <defs>
    <style>
      .a {
        fill: #ffc400;
      }

      .b {
        fill: none;
        stroke: #797979;
        stroke-miterlimit: 10;
        stroke-width: 1.4px;
      }
    </style>
  </defs>
  <title>SC-LOGO</title>
  <g>
    <path class="a" d="M841.36,565.32a14,14,0,0,0-2.74-5.68,14.77,14.77,0,0,0-4.6-3.76,14.13,14.13,0,0,0-5.29-1.66,14.62,14.62,0,0,0-5.09.39,20.36,20.36,0,0,0-7.68,4,29.18,29.18,0,0,0-4.56,4.67,30.22,30.22,0,0,0-2.32,3.4c-0.26.45-.44,0.78-0.54,1-0.84-1-1.68-2-2.55-3a34.23,34.23,0,0,0-7.2-6.78,23,23,0,0,0-8.51-3.53,16,16,0,0,0-4.32-.07,20.86,20.86,0,0,0-4,.92,26.41,26.41,0,0,0-3.48,1.5,12.79,12.79,0,0,0-1.52,1,15.1,15.1,0,0,0-1.29,1.13,16.89,16.89,0,0,0-4.4,7.58,0.34,0.34,0,0,0,0-.22,0.91,0.91,0,0,0-.2.46q-0.07.23-.17,0.58c0,0.23-.09.5-0.14,0.81a8.46,8.46,0,0,0-.11,1,10,10,0,0,0,0,1.24,13.85,13.85,0,0,0,.12,1.42c0,0.25.09,0.5,0.14,0.77a6.31,6.31,0,0,0,.19.8,13.8,13.8,0,0,0,4.12,6.66,15.14,15.14,0,0,0,3.93,2.52c0.38,0.16.74,0.34,1.14,0.48l1.21,0.35a7.44,7.44,0,0,0,1.25.25,8.35,8.35,0,0,0,1.28.15l1.29,0c0.43,0,.85-0.08,1.27-0.12,0.21,0,.42,0,0.63-0.07l0.61-.14c0.4-.1.81-0.16,1.2-0.29a17.47,17.47,0,0,0,2.23-.85c0.35-.17.71-0.31,1-0.5l1-.57a25.14,25.14,0,0,0,5.92-5.06c0.38-.4.7-0.82,1-1.21s0.6-.76.85-1.12c0.49-.73.93-1.34,1.24-1.88s0.47-.83.62-1.11c1.2,1.44,2.42,2.92,3.77,4.36a41.54,41.54,0,0,0,5,4.58,23.36,23.36,0,0,0,6.21,3.45,18.37,18.37,0,0,0,3.64.9,16.05,16.05,0,0,0,5.72-.05,23.71,23.71,0,0,0,6.39-2.23,5.76,5.76,0,0,0,.68-0.41c0.22-.15.44-0.28,0.65-0.44a14.53,14.53,0,0,0,1.16-1l0.53-.51,0.15-.16a17.13,17.13,0,0,0,1.19-1.24,14.4,14.4,0,0,0,2-2.9,14.14,14.14,0,0,0,1.24-3.22,14.07,14.07,0,0,0,.11-6.63m-32.09,1.49a39.72,39.72,0,0,1,2.46-3.25,30.39,30.39,0,0,1,4.61-4.47,20,20,0,0,1,7.49-3.75,13.9,13.9,0,0,1,4.82-.3,13.39,13.39,0,0,1,5,1.62,13.93,13.93,0,0,1,4.28,3.57,13.07,13.07,0,0,1,2.51,5.31,13.13,13.13,0,0,1-.14,6.16,13.24,13.24,0,0,1-1.17,3,13.4,13.4,0,0,1-1.86,2.69,14.9,14.9,0,0,1-1.82,1.76,13.31,13.31,0,0,1-1.45.71,14.81,14.81,0,0,1-7,1,13.51,13.51,0,0,1-3.84-.92,22.09,22.09,0,0,1-3.68-2.06,48.6,48.6,0,0,1-7-5.86c-1.34-1.32-2.6-2.76-3.86-4.26l0.66-1m-36.73-3a16.24,16.24,0,0,1,3.43-4.77,14.58,14.58,0,0,1,1.27-1.09,12.52,12.52,0,0,1,1.48-.92,26.51,26.51,0,0,1,3.43-1.44,20.52,20.52,0,0,1,3.88-.87,15.65,15.65,0,0,1,4.19.09,22.68,22.68,0,0,1,8.3,3.48,34,34,0,0,1,7.07,6.68c2.18,2.56,4.23,5.17,6.52,7.4a48.56,48.56,0,0,0,7.07,5.9,22.44,22.44,0,0,0,3.78,2.09,13.91,13.91,0,0,0,4,.93,15.19,15.19,0,0,0,6.78-1,19.45,19.45,0,0,1-8.57,2.8,17,17,0,0,1-6.84-1,22.4,22.4,0,0,1-5.94-3.29,40.82,40.82,0,0,1-4.93-4.44c-1.49-1.58-2.86-3.24-4.22-4.84a52.81,52.81,0,0,0-4.23-4.53,25,25,0,0,0-2.3-1.91,28,28,0,0,0-2.4-1.62,21.51,21.51,0,0,0-2.5-1.29,18,18,0,0,0-2.58-.86,17.39,17.39,0,0,0-5.06-.49,22,22,0,0,0-4.55.7,11,11,0,0,0-3.77,1.71,11.84,11.84,0,0,0-4.11,5.08,10.43,10.43,0,0,0-.49,1.47,16,16,0,0,1,1.34-4m29.4,7.84c-0.36.49-.84,1.06-1.37,1.75-0.27.34-.59,0.67-0.9,1s-0.66.76-1,1.14a26.43,26.43,0,0,1-5.87,4.72l-0.93.52c-0.32.17-.66,0.3-1,0.45a16.79,16.79,0,0,1-2.11.78c-0.36.12-.74,0.17-1.12,0.26l-0.57.12c-0.19,0-.39,0-0.58.06-0.39,0-.78.09-1.18,0.11l-1.19,0a7.64,7.64,0,0,1-1.18-.14,6.62,6.62,0,0,1-1.15-.23l-1.12-.32c-0.36-.13-0.71-0.3-1.06-0.44a14.55,14.55,0,0,1-3.71-2.3,13.5,13.5,0,0,1-4-6.13,13.25,13.25,0,0,1-.62-3.4,10.27,10.27,0,0,1,.88-3.09,11.61,11.61,0,0,1,4.07-4.75,10.49,10.49,0,0,1,3.59-1.54c0.42-.1.86-0.19,1.3-0.27h0a4.49,4.49,0,0,0,.8-0.11l0.43-.08c0.62-.07,1.25-0.13,1.9-0.15a16.88,16.88,0,0,1,9.65,2.65,26.6,26.6,0,0,1,2.31,1.59,23.72,23.72,0,0,1,2.21,1.86,53,53,0,0,1,4.12,4.48l0.3,0.36q-0.3.38-.8,1.07" transform="translate(-745 -508)"/>
    <circle class="b" cx="61.5" cy="61.5" r="61"/>
  </g>
</svg>


            </div>
            
                <ul class='nav-inner'>
                    <li><a href="/about">about</a></li>
                    <li scroll-to='services'><a href="">services</a></li>
                    <li scroll-to='work'><a href="">Photo</a></li>
                    <li scroll-to='work'><a href="">Cinema</a></li>
                    {{!-- <li scroll-to='clients'><a href="">Film</a></li> --}}
                    {{!-- <li scroll-to='testimonials'><a href="">testimonials</a></li> --}}
                    <li scroll-to='contact'><a href="">Contact</a></li>
                </ul>
                
                    <svg class='hamburger-menu' id="32f604e1-699a-4fab-bfda-95157d75a946" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 503.72 334.74">
                        <defs>
                            <style>
                            .\38 7885afa-feeb-4067-a392-cc55f65a22ce {
                                fill: #fff;
                            }
                            </style>
                        </defs>
                        <title>Untitled-1</title>
                        <rect class="87885afa-feeb-4067-a392-cc55f65a22ce" width="503.72" height="74.74"/>
                        <rect class="87885afa-feeb-4067-a392-cc55f65a22ce" y="130" width="503.72" height="74.74"/>
                        <rect class="87885afa-feeb-4067-a392-cc55f65a22ce" y="260" width="503.72" height="74.74"/>
                    </svg>


                
           
        </div>
    </div>

    
    <div class="hero">
        <div class="vertical-center">
            
                <div>
                    <div style='display:flex; align-items:center; justify-content:center; margin-bottom:2rem'>
                        <img width='8%'src="/img/logo-infinity.png" alt="">
                    </div>
                    <h5 class='text-center display-pre'>LUXURY MEDIA</h5>
                    <h1 class='display-text text-center'>One Of A Kind</h1>
                </div>
                <br /><br />
                <div class="testimonies" style='margin-top:5rem max-width:550px; height: 100px; justify-self: flex-end'>
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class='text-center'>
                                    <p>"This is the most amazing work, i've ever seen"</p>
                                    <h6 class='text-center'>-Nick Gabriel</h6>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class='text-center'>
                                    <p>"My boyfriend is the best!"</p>
                                    <h6 class='text-center'>-Denise Flores</h6>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div  class='text-center'>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, alias?</p>
                                    <h6 class='text-center'>-Carl Stanley</h6>
                                </div>
                            </div>
                          
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                    </div>
                </div>
<<<<<<< HEAD
                <h5 class='text-center display-pre'>LUXURY MEDIA</h5>
                <h1 class='display-text text-center'>One Of A Kind</h1>
            </div>
=======
>>>>>>> add-swiper-to-home
        </div>
    </div>
    <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>Critcally Acclaimed</h6>
            <h1 class='display-text-2'>"A True Master At Work"</h1>
        </div>
    </div>

    <div class='breathe' id='services'>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="three columns text-center">
                    <h5 class='display-text-sm'>MUSIC VIDEOS</h5>
                    <p>Get yourself recognized with our out of the box music video production</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">

                    <h5 class='display-text-sm'>WEDDINGS</h5>
                    <p>Share your love story with your family and friends</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">
                   
                    
                    <h5 class='display-text-sm'>COMMERCIALS</h5>
                    <p>Build your business with our commercial video production</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">
                    <h5 class='display-text-sm'>REAL ESTATE</h5>
                    <p>Sell your properties by providing a digital experience of the space</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
            </div>
        </div>



        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class='dark text-center breathe section'>
        <div>
            <h6 class="display-text-2-pre">one of the world's most</h6>
            <h1 class="display-text-2">internationally & critically acclaimed</h1>
        </div>
    </div>
    <div class='breathe' id='work'>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="six columns text-center  offset-by-three">
                    <h1 class="section-heading">Curated For You</h1>
                    <p class='mt-1'>We carefully, meticulously craft our photos & films into a beautiful story unique to our couple that can be cherished for friends, family & future generations to come</p>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="six columns">
                    <div class="img-placeholder right-clip">
                        <img src="" width='100%' alt="">
                    </div>
                </div>
                <div class="six columns">
                    <h5 class='display-text-2-pre'>Latest & Greatest</h5>
                    <h1  class='display-text-2'>Cutting Edge Equipment</h1>
                    <br />
                    <p class="line-height-3">
                        We offer the use of top of the line video and broadcasting equipment to ensure our client's films are on par with, or better in most circumstances than industry standard hollywood films.
                    </p>
                    <br />
                    <a href="/videos" class="btn btn-primary full-on-mobile">VIEW Our Work Now</a>
                </div>
            </div>
            <div class="spacer">

            </div>
            <div class="row">
                <div class="six columns">
                    <h5 class='display-text-2-pre'>Industry experience</h5>
                    <h1 class='display-text-2'>Masterful Technique</h1>
                    <br />
                    <p class='line-height-3'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi dolorem libero incidunt delectus qui beatae optio animi, dignissimos nulla tempore facere deleniti error nisi, quisquam laborum impedit sapiente a voluptates.</p>
                    <br />
                    <a href="" class="btn btn-primary full-on-mobile">Learn More</a>
                </div>
                <div class="six columns">
                    <div class="img-placeholder left-clip">
                        <img src="/img/nick-sister-optimized.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
      <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>check out some of</h6>
            <h1 class='display-text-2'>our work</h1>
        </div>
    </div>
    <div id="work" class="breathe">
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <div class='text-center'>
                        <h6 class='display-text-2-pre'>Our Most</h6>
                        <h1 class='display-text-2'>Recent Work</h1>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        <div class="row">
                <div class="six columns">
                    <h6 class='display-text-2-pre'>CINEMATOGRAPHY</h6>
                    <br />
                </div>
                <div class="six columns">
                    <h6 class='text-right'>
                        See More..
                    </h6>
                </div>
        </div>
        <div class="row">
                {{#each videos}} 
                    <div class="three columns">
                                            <a class="video"  href='/videos/{{returnVimeoId link}}'}}>
                        <div class="video-thumbnail video-preview" vimeo-id={{link}}>
                            <img src='https://images.unsplash.com/photo-1584847229569-c80f5bd78cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80' width='100px' height='100px' alt="">
                        </div>
                    </a>
                    <h6 class='video-preview-title'>
                        <a href='/videos/{{returnVimeoId link}}'}}>{{name}}</a>
                        {{pictures}}
                    </h6>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
      {{!-- <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>check out some of</h6>
            <h1 class='display-text-2'>our fantastic clients</h1>
        </div>
    </div>
    <div id="clients" class='breathe'>
        <div class="row">
            <div class="twelve columns">

            </div>
        </div>
    </div> --}}
    

          <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>contact us now</h6>
            <h1 class='display-text-2'>currently booking for 2020</h1>
            <br />
            <a href="" onclick="scrollToPos('contact')" class="btn btn-primary">Book Now</a>
            
        </div>
    </div>
    <div id="contact" class='breathe'>
        <br />
        <br />    
        <div class="container">
            <div class="row">
                <div class="twelve columns text-center">
                                <h1 class='section-heading'>Book Us Now</h1>
                                <p class=''>Book Your Event With Us Below</p>
  
                </div>
            </div>
                <br />
                <br />
                <br />
                <br />
            <div class="row">
                <div class="four columns offset-by-one">
                    <img class='contact-img' src="/img/Nick.jpg" alt="" width='100%'>
                </div>
                <div class="six columns offset-by-one">
                    <form action="">
                        <div class="row">
                            <div class="six columns">
                                <div class="form-input">
                                    <label for="">First Name</label>
                                    <input class="u-full-width" type="text" placeholder='first name'/>
                                </div>
                            </div>
                            <div class="six columns">
                                <div class="form-input">
                                    <label for="">Last Name</label>
                                    <input class="u-full-width" type="text" placeholder='last name'/>
                                </div>
                            </div>
                            <div class="twelve columns">
                                <div class="form-input">
                                    <label for="">Email</label>
                                    <input class="u-full-width" type="email" placeholder='email' />
                                </div>
                            </div>
                            <div class="row">
                                <div class="four columns">
                                    <div class="form-input">
                                        <label for="">Type</label>
                                        <select class="u-full-width" type="text" placeholder='first name'>
                                            <option value="">Wedding</option>
                                            <option value="">Bar/Bat Mitzvah</option>
                                            <option value="">Sweet Sixteen</option>
                                            <option value="">Anniversary</option>
                                            <option value="">Elopement</option>
                                            <option value="">Engagement</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="form-input">
                                        <label for="">Date</label>
                                        <input class="u-full-width" type="date" placeholder='first name'/>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="form-input">
                                        <label for="">Location</label>
                                        <input class="u-full-width" type="text" placeholder='Event Location'/>
                                    </div>
                                </div>
                            </div>
                            <div class="twelve columns">
                                                                <div class='form-input'>
                                    <label for="">Other Details</label>
                                    <textarea class="u-full-width" type="submit" placeholder='message'></textarea>
                                </div>
                                <div class="form-input">
                                    <input class="button-primary u-full-width"  type="submit"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer breathe vertical-center">
        <img src="/img/logo-color.png" width='20%'alt="">
    </div>
    <div class="copyright">
        <div class="container">
            <span>Designed By <b class='text-primary'>SUPERIOR CREATIVITY - WEB/BRANDING</b></span>
        </div>
    </div>

    {{!-- <iframe src="https://player.vimeo.com/video/384155730" width='400px' height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> --}}
 

    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js'></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src='/js/main.js'></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  autoplay: {
    
    disableOnInteraction: true,
},
  effect: 'fade',

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  fadeEffect: { crossFade: true },
  autoplay: {
      delay: 600,
      disableOnInteraction: true,
  },
  speed: 1000, 


})

    </script>
</body>
</html>